@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600&display=swap");
$font-primary: "Montserrat", sans-serif;
$light: 300;
$semi-bold: 600;
$white: #ffff;
$black: rgb(0, 0, 0);
$focus-border-width: 4px;
$focus-color: rgb(255, 6, 6);
$bg-color: #f53e1e;
$text-color: #001220;
@keyframes pressed {
	from {
		transform: translateY(0%);
		box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.26);
	}
	to {
		transform: translateY(-5%);
		box-shadow: 0px 9px 5px 1px rgba(0, 0, 0, 0.26);
	}
}
@keyframes pressed-reverse {
	from {
		transform: translateY(-5%);
		box-shadow: 0px 9px 5px 1px rgba(0, 0, 0, 0.26);
	}
	to {
		transform: translateY(0%);
		box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.26);
	}
}
