@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600&display=swap");
$font-primary: "Montserrat", sans-serif;
$light: 300;
$semi-bold: 600;
$white: #ffff;
$black: rgb(0, 0, 0);
